@import 'fonts.css';


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}



:root {
  --RR1: 'Raleway-Regular';
  --RB1: 'Raleway-Black';
  --RB2: 'Raleway-Bold';
  --RT: 'Raleway-Thin';
  --RR2: 'Roboto-Regular';
  --RB3: 'Roboto-Bold';
  --white: #FFF;
  --black: #000;
  --green: #69CF17BF;
}

.header__prenav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background: var(--black);
}

.header__prenav-list {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.header__prenav-list-link {
  padding-right: 15px;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  font-family: 'Roboto-Regular';
  
}

.header__prenav-link {
  font-family: 'Roboto-Regular';
  color: var(--white);
  font-size: 16px;
  line-height: 19px;
}

.container {
  max-width: 1665px;
  width: 100%;
  margin: 0;
}

/* header start */

.header__content {
  background: var(--black);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.header__list {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
}

.header__list-link {
  font-family: 'Raleway-Regular';
  color: var(--white);
  font-size: 18px;
  line-height: 21px;
  transition: 1s;
padding: 22px 14px;
}

.header__logo {
  height: 50px;
  width: 180px;
  background: rgba(10, 148, 24, 0.75);
  border: 4px solid #06600F;
  border-radius: 4px;
  margin: 10px 0;
  font-weight: bold;
font-size: 30px;
line-height: 45px;
text-align: center;
color: #FFFFFF;
  font-family: 'Roboto-Bold';
  display: flex;
  padding-left: 10px;
}

.bigmak {
  background: url(../img/bigmak.png);
  width: 100%;
  background-position: center;
  background-size: cover;
background-repeat: no-repeat;
padding: 167px 205px 0 0;
align-items: center;
justify-content: center;
}

.bigmak__title {
  color: var(--green);
font-size: 72px;
line-height: 85px;
font-family: 'Raleway-Black';
margin-bottom: 20px;
}

.bigmak__title2 {
  font-size: 36px;
line-height: 17px;
font-family: 'Raleway-Regular';
color: var(--green);
margin-bottom: 20px;
}

.bigmak__paragraf {
  font-size: 18px;
line-height: 24px;
font-family: 'Raleway-Regular';
color: var(--white);
width: 1110px;
margin-bottom: 20px;
}

.bigmak__price {
font-size: 50px;
font-family: 'Raleway-Regular';
background: var(--green);
color: var(--white);
padding: 33px 76px;
line-height: 25px;
width: 285px;
height: 103px;
}

.preview {
  width: 255px;
height: 51px;
background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
border-radius: 6px;
font-size: 18px;
line-height: 21px;
font-family: 'Raleway-Regular';
color: var(--white);
padding: 15px 75px;
margin-bottom: 30px;
margin-top: 20px;
}
.b-d {
  display: flex;
  flex-direction: column;
  padding-bottom: 170px;
}

.b-d2 {
  align-items: center;
  justify-content: center;
  
  margin-left: auto;
  margin-right: auto;
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.header__list-link:hover {
  background: var(--green);
  color: var(--white);
  width: 93px;
height: 65px;
background-position: cover;
}

/* header end */



/* main start */

.main {
  background: #393636;
}

.main__list {
  background: #292929;
  display: flex;
  padding: 20px;
  margin-top: 48px;
}

.main__list-link {
  color: var(--white);
  font-family: 'Raleway-Regular';
font-size: 18px;
line-height: 24px;
margin-right: 35px;
}


body {
  background: var(--black);
}

.card {
  background: #0C0C0C;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 4px;
width: 370px;
height: 524px;
padding: 15px;
margin: 15px 30px 30px 15px;
transition: 1s;
}

.laguna-title {
font-size: 19px;
line-height: 15px;
color: var(--white);
font-family: 'Raleway-Bold';
margin-top: 15px;
margin-bottom: 15px;
}

.laguna-description {
  width: 338.73px;
height: 124px;
font-size: 19px;
line-height: 25px;
color: var(--white);
font-family: 'Raleway-Regular';
margin-top: 15px;
margin-bottom: 15px;
}

.main__cards {
  padding: 15px 30px 30px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.main__maps-title {
  padding: 20px;
  text-align: center;
  background: var(--white);
}

.maps {
  max-width: 2000px;
  width: 100%;
  height: 500px;
}

.maps-title {
  font-size: 50px;
line-height: 40px;
color: #69CF17;
font-family: 'Raleway-Bold';
font-weight: bold;
}



.main__icon {
  text-align: center;
  transition: 1s;
}

.div__icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
}

.main__img {
  position: relative;
}

.div__icon:hover .main__icon {
  width: 338px;
  height: 325px;
    color: var(--white);
    font-size: 60px;
    background: rgba(105, 207, 23, 0.9);
  padding-top: 133px;
   
}


/* main end */



/* footer start */

.footer {
  background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
  height: 325px;
}

.footer__logo {
  height: 50px;
  width: 180px;
  background: rgba(10, 148, 24, 0.75);
  border: 4px solid #06600F;
  border-radius: 4px;
  margin: 10px 0;
  font-weight: bold;
font-size: 30px;
line-height: 45px;
text-align: center;
color: #FFFFFF;
  font-family: 'Roboto-Bold';
  display: flex;
  padding-left: 10px;
  margin-top: 30px;
}

.tel {
  font-family: 'Roboto-Bold';
  font-weight: bold;
font-size: 20px;
line-height: 23px;
color: var(--white);
margin-top: 45px;
}

.footer__info {
  display: flex;
  justify-content: space-around;
}

.footer__list {
  display: flex;
  margin-top: 80px;
 align-items: center;
 justify-content: center;
}

.footer__list-link {
  font-size: 20px;
line-height: 23px;
font-family: 'Roboto-Regular';
color: var(--white);
padding: 20px;
}

.footer__mail {
  background: #1A3406;
  
height: 57px;
margin-top: 80px;
padding: 20px 0;
}

.mail {
  color: var(--white);
  text-align: center;
  font-size: 16px;
line-height: 19px;
font-family: 'Roboto-Regular';
}



/* footer end */










/* page start */

.page__prenav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background: var(--black);
}

.page__prenav-list {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.page__prenav-link {
  padding-right: 15px;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  font-family: 'Roboto-Regular';
}

.page__prenav-list-link {
  font-family: 'Roboto-Regular';
  color: var(--white);
  font-size: 16px;
  line-height: 19px;
  margin-right: 20px;
}

.page__header-content {
  background: var(--black);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.page__header-list {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
}

.page__header-link {
  font-family: 'Raleway-Regular';
  color: var(--white);
  font-size: 18px;
  line-height: 21px;
  transition: 1s;
  padding: 22px 14px;
}

.page__header-logo {
  height: 50px;
  width: 180px;
  background: rgba(10, 148, 24, 0.75);
  border: 4px solid #06600F;
  border-radius: 4px;
  margin: 10px 0;
  font-weight: bold;
font-size: 30px;
line-height: 45px;
text-align: center;
color: #FFFFFF;
  font-family: 'Roboto-Bold';
  display: flex;
  padding-left: 10px;
}

.page__bigmak {
  background: url(../img/bigmak.png);
  width: 100%;
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 167px 205px 0 0;
}

.page__bigmak-title {
  color: var(--green);
font-size: 72px;
line-height: 85px;
font-family: 'Raleway-Black';
margin-bottom: 20px;
}

.page__bigmak-title2 {
  font-size: 36px;
line-height: 17px;
font-family: 'Raleway-Regular';
color: var(--green);
margin-bottom: 20px;
}

.page__bigmak-paragraf {
  font-size: 18px;
line-height: 24px;
font-family: 'Raleway-Regular';
color: var(--white);
height: 72px;
width: 1110px;

}

.page__bigmak-price {
font-size: 50px;
font-family: 'Raleway-Regular';
background: var(--green);
color: var(--white);
padding: 33px 76px;
line-height: 25px;
width: 285px;
height: 103px;
}

.page__preview {
  width: 255px;
height: 51px;
background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
border-radius: 6px;
font-size: 18px;
line-height: 21px;
font-family: 'Raleway-Regular';
color: var(--white);
padding: 15px 75px;
margin-bottom: 30px;
margin-top: 20px;
}

.page__header-link:hover {
  background: var(--green);
  color: var(--white);
  width: 93px;
height: 65px;

background-position: cover;
}

.page__main {
  padding: 30px 0;
}

.page__main-content {
  flex-direction: column;
}

.page__main-img {
  width: 1110px;
height: 400px;
}

.page__main-title {
  font-size: 55px;
line-height: 65px;
text-transform: uppercase;
color: rgba(105, 207, 23, 0.7);
text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
font-family: var(--RB2);
bottom: 237px;
position: relative;
}

.page__info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page__main-description {
  font-family: var(--RB2);
  width: 1110px;
font-size: 18px;
line-height: 25px;
text-align: justify;
color: var(--white);
}

.page__footer {
  background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
  height: 325px;
}

.page__footer-logo {
  height: 50px;
  width: 180px;
  background: rgba(10, 148, 24, 0.75);
  border: 4px solid #06600F;
  border-radius: 4px;
  margin: 10px 0;
  font-weight: bold;
font-size: 30px;
line-height: 45px;
text-align: center;
color: #FFFFFF;
  font-family: 'Roboto-Bold';
  display: flex;
  padding-left: 10px;
  margin-top: 30px;
}

.p-b-d {
  display: flex;
  flex-direction: column;
  padding-bottom: 170px;
}

.p-b-d2 {
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.p-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-direction: row;
}

.page__tel {
  font-family: 'Roboto-Bold';
  font-weight: bold;
font-size: 20px;
line-height: 23px;
color: var(--white);
margin-top: 45px;
}

.page__footer-info {
  display: flex;
  justify-content: space-around;
}

.page__footer-list {
  display: flex;
  margin-top: 80px;
 justify-content: center;
}

.page__footer-link {
  font-size: 20px;
line-height: 23px;
font-family: 'Roboto-Regular';
color: var(--white);
padding: 20px;
}

.page__footer-mail {
  background: #1A3406;
height: 57px;
margin-top: 80px;
padding: 20px 0;
}

.page__mail {
  color: var(--white);
  text-align: center;
  font-size: 16px;
line-height: 19px;
font-family: 'Roboto-Regular';
}

.page__maps-title {
  padding: 20px;
  text-align: center;
  background: var(--white);
}


.page__map-title {
  font-size: 50px;
line-height: 40px;
color: #69CF17;
font-family: 'Raleway-Bold';
font-weight: bold;
}

.page__maps {
  margin-top: 30px;
}












/* page end */

@media(max-width: 580px) {
  .header__list-link:hover {
    color: #69CF17BF;
    background: none;
}
}
